POSTGRES_DB=habitia
POSTGRES_USER=habitia
POSTGRES_PASSWORD=changeme

APP_JWT_SECRET=changeme_min_32_caracteres
APP_JWT_EXPIRATION_MS=86400000

APP_STORAGE_UPLOAD_DIR=/app/uploads
APP_STORAGE_BASE_URL=http://localhost:8080

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=changeme

APP_CORS_ALLOWED_ORIGINS=http://localhost:4200
